<div class="wrap-login row">

    <div class="login login-left">
        <p>This is the login page</p>
    </div>
    <div class="login login-right">
        <h2>HASTE</h2>
        <p>Welcome back! Log in to view today's deliveries.</p>
        
        <form action="/auth/login" method="POST">
            <input name="email" type="text" class="login-input" placeholder="Email">
            <input name="password" type="password" class="login-input" placeholder="Password">
            <button class="login-btn">LOG IN</button>
        </form>

    </div>

</div>