<div class="wrap-login row">

    <div class="login login-left">
        <h5>What do I put here?</h5>
        <br>
        <h5>A description of the app? A picture of the app? A picture of the tomato soup I just had?</h5>
        <br>
        <h5>Maybe even some kind of animation.</h5>
        <br>
        <h5>But with so much else to do, gallivanting in this goldilocks of a box just wouldn't be the best use of time.</h5>
    </div>
    
    <div class="login login-right">
        <div class="header">
            <img src="/images/logo-dark.png" alt="" id="login-logo-left"><h2>HASTE</h2>
        </div>    
        <p style="text-align: center;">Welcome back! Log in to manage today's deliveries.</p>

        <form action="/auth/login" method="POST">
            <input name="email" type="text" class="login-input" placeholder="Email">
            <input name="password" type="password" class="login-input" placeholder="Password">
            <button class="login-btn">LOG IN</button>
        </form>

    </div>

</div>