<form action="/auth/register" method="POST">
    <label for="">Name</label>
    <input name="name" type="text"><br>

    <label for="">Email</label>
    <input name="email" type="text"><br>

    <label for="">Password</label>
    <input name="password" type="password"><br>

    <label for="">Admin</label>
    <input name="role" type="radio" value="admin">

    <label for="">Staff</label>
    <input name="role" type="radio" value="staff"><br>

    <button class="btn btn-primary" type="submit">Add new user</button>
</form>