html {
    height: 100%;
    width: 100%;
}

body {
    background: #f3f2f2;
    font-family: 'Source Sans Pro', sans-serif;
}

/* NAV BAR */

#navbar-profile {
    width: 2rem;
    border-radius: 100%;
    background: whitesmoke;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* would like for the user's information to slide out on the left */
#navbar-profile:hover {
    background: #ffc107;
}

#login-logout {
    color: whitesmoke;
    margin-right: 10px;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, #login-logout:hover {
    color: #ffc107;
}

/* LOGIN PAGE */

.wrap-login {
    position: absolute;
    top: 16%;
    margin-right: auto;
    margin-left: auto;
    left: 17%;
    height: 60vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.login-left {
    background: #ffc107;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.login-right {
    padding: 50px;
    background: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
}

.login-btn {
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 8px 27px;
    margin-top: 20px;
    background-color: #ffc107;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    outline: 0;
}

.login-btn:hover {
    background-color: #17a2b8;
}

.login-input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
}

.login-input:focus {
    border-bottom: solid 1px #ffc107;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.alert {
    margin-bottom: 0;
}


/* CREATE ORDER */

.page-titles {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 40px 0 50px 0;
}

/* ORDER INDEX */

#new-order-button {
    border-radius: 2rem;
    width: 50px;
    transition: 0.7s ease-out;
}

#new-order-button:hover {
    width: 160px;
    transition: 0.7s ease-out;
}

.order-index-headers {
    padding-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    margin: 50px 0 10px 0;
}

a.sort-filter {
    text-decoration: none; 
    color: grey;
}

a.sort-filter:hover {
    color: #ffc107;
}