<h2>List of users</h2>

<ul>
    <% users.forEach(user => { %>
        <li> 
            <a href="/user/index/<%= user._id %>"> <%= user.name %> </a> 
        </li>
    <% }) %>
</ul>



<form action="/user/search" method="GET">
    <input name="search" type="text">
    <button>search</button>
</form>