<h2>List of customers</h2>

<ul>
    <% customers.forEach(element => { %>
        <li>
            <a href="/customer/show/<%= element._id %> "><%= element.name %> </a>
        </li>
    <% }) %>
</ul>
